html,
body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  box-sizing: border-box;
  font-family: "NotoSerif";
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.background {
  position: absolute !important;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
