.badge {
  margin: 0 0.3rem;
}
.modal-content {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white;
  border: none !important;
  border-radius: 0 !important;
}
.btn {
  color: white !important;
}
.rs-modal-content {
  background-color: rgba(255, 255, 255, 0.00001) !important;
}
