#developers {
  position: absolute;
  top: 20%;
  right: 1%;
  .card-body {
    background-color: rgba(52, 58, 64, 0.7) !important;
    color: white;
  }
  .dev-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dev-avatar {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dev-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
