.account {
  padding: 1rem;
  #profile {
    color: black !important;
    font-size: 0.95rem !important;
  }
  #signout {
    color: black !important;
    cursor: pointer;
    font-size: 0.95rem;
  }
}

.rs-icon-github {
  font-size: 2rem !important;
}
