#menu-left {
  position: absolute;
}

.rs-nav-item-content {
  a {
    color: #8e8e93;
  }
  a:hover {
    color: #8e8e93;
    text-decoration: none;
  }
}
ul {
  a:hover {
    text-decoration: none;
  }
}
