#nav-top {
  background-color: rgba(0, 0, 0, 0.8);
  a {
    font-size: 1.1rem !important;
    color: white;
  }
}
.rs-navbar-header {
  display: flex !important;
  align-items: center !important;
}
.navbar-brand {
  padding: 2rem 1.1rem;
  color: white;
  font-size: 2rem;
}
.home {
  color: white;
}
.social-icon {
  font-size: 2.5rem !important;
}
.social-link {
  color: white;
  margin: 0 0.75rem;
}
.social-link:hover {
  color: white;
  opacity: 0.8;
}
.location {
  margin-bottom: 1rem;
}
.media-heading {
  font-family: "NotoSerif" !important;
}
