html,
body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "NotoSerif";
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.background {
  position: fixed !important;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: NotoSerif;
  src: url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");
}

#nav-top {
  background-color: rgba(0, 0, 0, 0.8);
}

#nav-top a {
  font-size: 1.1rem !important;
  color: white;
}

.rs-navbar-header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.navbar-brand {
  padding: 2rem 1.1rem;
  color: white;
  font-size: 2rem;
}

.home {
  color: white;
}

.social-icon {
  font-size: 2.5rem !important;
}

.social-link {
  color: white;
  margin: 0 0.75rem;
}

.social-link:hover {
  color: white;
  opacity: 0.8;
}

.location {
  margin-bottom: 1rem;
}

.media-heading {
  font-family: "NotoSerif" !important;
}

.git {
  cursor: pointer;
}

.account {
  padding: 1rem;
}

.account #profile {
  color: black !important;
  font-size: 0.95rem !important;
}

.account #signout {
  color: black !important;
  cursor: pointer;
  font-size: 0.95rem;
}

.rs-icon-github {
  font-size: 2rem !important;
}

.badge {
  margin: 0 0.3rem;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white;
  border: none !important;
  border-radius: 0 !important;
}

.btn {
  color: white !important;
}

.rs-modal-content {
  background-color: rgba(255, 255, 255, 1e-05) !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-item .nav-link {
  cursor: pointer;
}

.nav-item select {
  border: none;
}

.hero {
  padding: 1rem 0px !important;
  margin: 0px !important;
}

.cardbox {
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 0px !important;
}

/* ------------------------------- */
/* Cardbox Heading
---------------------------------- */
.cardbox .cardbox-heading {
  padding: 16px;
  margin: 0;
}

.cardbox .btn-flat.btn-flat-icon {
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  color: #fff !important;
  background: #b5b6b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cardbox .float-right .dropdown-menu {
  position: relative;
  left: 13px !important;
}

.cardbox .float-right a:hover {
  background: #f4f4f4 !important;
}

.cardbox .float-right a.dropdown-item {
  display: block;
  width: 100%;
  padding: 4px 0px 4px 10px;
  clear: both;
  font-weight: 400;
  font-family: "Abhaya Libre", serif;
  font-size: 14px !important;
  color: #848484;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

/* ------------------------------- */
/* Media Section
---------------------------------- */
.media {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
}

.media .popular {
  margin: 0 0.5rem;
}

.d-flex {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

.media .mr-3 {
  margin-right: 1rem !important;
}

.media img {
  width: 48px !important;
  height: 48px !important;
  padding: 2px;
  border: 2px solid #f4f4f4;
}

.media-body {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  padding: 0.4rem !important;
}

.media-body p {
  font-family: "Rokkitt", serif;
  font-weight: 500 !important;
  font-size: 14px;
  color: #88898a;
}

.media-body small span {
  font-family: "Rokkitt", serif;
  font-size: 12px;
  color: #aaa;
  margin-right: 10px;
}

/* ------------------------------- */
/* Cardbox Item
---------------------------------- */
.cardbox .cardbox-item {
  position: relative;
  display: block;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.fw {
  width: 100% !important;
  height: auto;
}

/* ------------------------------- */
/* Cardbox Base
---------------------------------- */
.cardbox-base {
  border-bottom: 2px solid #f4f4f4;
}

.cardbox-base #contributors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: white;
}

.cardbox-base #sum-contributors {
  margin-bottom: 1rem;
}

.cardbox-base ul {
  margin: 10px 0px 10px 15px !important;
  padding: 10px !important;
  font-size: 0px;
  display: inline-block;
}

.cardbox-base li {
  list-style: none;
  margin: 0px 0px 0px -8px !important;
  padding: 0px 0px 0px 0px !important;
  display: inline-block;
}

.cardbox-base li a {
  margin: 0px !important;
  padding: 0px !important;
}

.cardbox-base li a .icon {
  position: relative;
  top: 4px;
  font-size: 16px;
  color: #8d8d8d;
  margin-right: 15px;
}

.cardbox-base li a span {
  font-family: "Rokkitt", serif;
  font-size: 14px;
  color: #8d8d8d;
  margin-left: 20px;
  position: relative;
  top: 5px;
}

.cardbox-base li a em {
  font-family: "Rokkitt", serif;
  font-size: 14px;
  color: #8d8d8d;
  position: relative;
  top: 3px;
}

.cardbox-base li a img {
  width: 25px;
  height: 25px;
  margin: 0px !important;
  border: 2px solid #fff;
}

/* ------------------------------- */
/* Cardbox Comments
---------------------------------- */
.cardbox-comments {
  padding: 10px 40px 20px 40px !important;
  font-size: 0px;
  text-align: center;
  display: inline-block;
}

.cardbox-comments .comment-avatar img {
  margin-top: 1px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
}

.cardbox-comments .comment-body {
  overflow: auto;
}

.search {
  position: relative;
  right: -60px;
  top: -40px;
  margin-bottom: -40px;
  border: 2px solid #f4f4f4;
  width: 100%;
  overflow: hidden;
}

.search input[type="text"] {
  background-color: #fff;
  line-height: 10px;
  padding: 15px 60px 20px 10px;
  border: none;
  border-radius: 4px;
  width: 350px;
  font-family: "Rokkitt", serif;
  font-size: 14px;
  color: #8d8d8d;
  height: inherit;
  font-weight: 700;
}

.search button {
  position: absolute;
  right: 0;
  top: 0px;
  border: none;
  background-color: transparent;
  color: #bbbbbb;
  padding: 15px 25px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.search button i {
  font-size: 20px;
  line-height: 30px;
  display: block;
}

/* ------------------------------- */
/* Author
---------------------------------- */
.author a {
  font-family: "Rokkitt", serif;
  font-size: 16px;
  color: #00c4cf;
}

.author p {
  font-family: "Rokkitt", serif;
  font-size: 16px;
  color: #8d8d8d;
}

.page-item .page-link {
  cursor: pointer;
}

.page-item .pagination-active {
  opacity: 0.5;
}

.related-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.related-date span {
  margin: 0.5rem;
}

.forks,
.watchers,
.upload,
.edit {
  margin-right: 0.25rem;
}

#menu-left {
  position: absolute;
}

.rs-nav-item-content a {
  color: #8e8e93;
}

.rs-nav-item-content a:hover {
  color: #8e8e93;
  text-decoration: none;
}

ul a:hover {
  text-decoration: none;
}

#developers {
  position: absolute;
  top: 20%;
  right: 1%;
}

#developers .card-body {
  background-color: rgba(52, 58, 64, 0.7) !important;
  color: white;
}

#developers .dev-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#developers .dev-avatar {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#developers .dev-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.search-bar {
  width: 20vw !important;
}
/*# sourceMappingURL=main.css.map */